<div class="p-6">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-xl font-semibold text-gray-900 dark:text-white">Orders</h1>
  </div>

  <%= render AdminSearchFieldComponent.new(form_url: admin_orders_path, method: :get) %>

  <!-- orders Table -->
  <div class="mt-8">
    <%= render 'table', orders: @orders, pagy: @pagy %>
  </div>
</div>
