<%
  active_class = "block py-2 px-3 text-pink-800 rounded-lg md:text-pink-700 md:p-0"
  inactive_class = "block py-2 px-3 text-gray-900 rounded-lg transition-all duration-200 hover:bg-gradient-to-r hover:from-pink-50 hover:to-rose-50 md:hover:bg-transparent md:hover:text-pink-700 md:hover:scale-105 md:p-0"
%>
<li>
  <%= link_to "Reorder", storefront_path,
              class: inactive_class, target: "_blank", rel: "noopener" %>
</li>
<li>
  <%= link_to "Inventories", inventories_path,
              class: (request.path.start_with?("/inventories") && controller_name != "checkouts") ? active_class : inactive_class %>
</li>
<li>
  <%= link_to "Checkout", inventory_checkouts_path,
              class: controller_name == "checkouts" ? active_class : inactive_class %>
</li>
